#root {
  margin: 0 auto;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  overflow: auto;
  .wrapper-left {
    width: 30rem;
    height: auto;
    border-bottom: 10px solid $color;
    .block-left {
      position: relative;
      margin: 0 auto;
      width: 300px;
      height: 30rem;
      border-left: 10px solid $color;
      border-top: 10px solid $color;
      &__rope {
        width: 10px;
        height: 70px;
        background-color: $color;
        position: absolute;
        right: 0;
        top: 0;
        .head-man {
          display: none;
          position: absolute;
          width: 5em;
          height: 5em;
          border-radius: 100%;
          border: 10px solid $color;
          bottom: -4.5rem;
          right: -2.2rem;
        }
        .body-man {
          display: none;
          position: absolute;
          width: 10px;
          height: 7em;
          background-color: $color;
          bottom: -11em;
        }
        .left-hang {
          display: none;
          position: absolute;
          width: 10px;
          height: 4em;
          background-color: $color;
          bottom: -8em;
          transform: rotate(45deg);
          right: 1.5em;
        }
        .right-hang {
          display: none;
          position: absolute;
          width: 10px;
          height: 4em;
          background-color: $color;
          bottom: -8em;
          transform: rotate(-45deg);
          left: 1.5em;
        }
        .right-leg {
          display: none;
          position: absolute;
          width: 10px;
          height: 4em;
          background-color: $color;
          bottom: -14em;
          transform: rotate(-45deg);
          left: 1.5em;
        }
        .left-leg {
          display: none;
          position: absolute;
          width: 10px;
          height: 4em;
          background-color: $color;
          bottom: -14em;
          transform: rotate(45deg);
          right: 1.5em;
        }
      }
      &__jumper {
        width: 1px;
        height: 70px;
        border: 5px solid $color;
        position: absolute;
        transform: rotate(45deg);
        left: 15px;
        top: -14px;
      }
    }
  }
}

.block-right__keyboard {
  margin-top: 7rem;
  .key-row__0,
  .key-row__1,
  .key-row__2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2px;
    .key {
      display: flex;
      width: 3rem;
      height: 3rem;
      background-color: $bgbutton;
      margin: 4px;
      padding: 20px;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      color: beige;
      cursor: pointer;
      &:hover {
        background-color: $bghover;
      }
    }
  }
}

.border-hidden {
  border: none!important;
}

.block-answer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  .letter-wrapper {
    padding: 10px;
    border-bottom: 6px solid rgb(177, 34, 221);
    width: 2rem;
    height: auto;
  }
  .letter-class {
    opacity: 0;
  }
}
