@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&family=Inter:wght@100;200;300;400;500;600;700&family=Lemon&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Moo+Lah+Lah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import './styles/vars.scss';
@import './styles/initial.scss';
@import './styles/modal.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-image: url(./images/bg.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Russo One', sans-serif;
  font-weight: 400;
  align-items: center;
  font-style: normal;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
